<div
  class="flex container flex-col bg-light h-full pt-3 px-3 mt-2 rounded-md overflow-scroll overflow-y-auto overflow-x-hidden"
>
  <div class="flex justify-between">
    <h1 class="text-2xl text-light-purple mb-10">
      Hello, Siraj Ansari
      <!-- <span class="font-bold">{{ user.name }}</span> -->
    </h1>
    <div class="flex items-center h-fit">
      <!-- <img class="w-6 h-6" [src]="user.picture" alt="User image not found" />
        <p class="text-dark-purple px-2 rounded-br-sm rounded-tr-sm bg-gray-300">
            {{ user.name }}
        </p> -->
    </div>
  </div>

  <h1 class="text-2xl text-dark-purple mb-3 font-semibold">Orders</h1>
  <section class="flex flex-wrap gap-6 mb-10 -6 py-3">
    <div
      class="flex grow flex-col bg-white gap-2 rounded-sm text-center w-44 py-3 h-fit box-shadow"
    >
      <p class="text-light-purple font-medium">TODAY</p>
      <p class="font-bold text-blue-700 text-3xl">2</p>
      <p class="font-medium text-light-purple">2 orders today</p>
    </div>
    <div
      class="flex grow flex-col bg-white gap-2 rounded-sm text-center w-44 py-3 h-fit box-shadow"
    >
      <p class="text-light-purple font-medium">THIS WEEK</p>
      <p class="font-bold text-blue-700 text-3xl">2</p>
      <p class="font-medium text-light-purple">2 orders this week</p>
    </div>
    <div
      class="flex grow flex-col bg-white gap-2 rounded-sm text-center w-44 py-3 h-fit box-shadow"
    >
      <p class="text-light-purple font-medium">THIS MONTH</p>
      <p class="font-bold text-blue-700 text-3xl">2</p>
      <p class="font-medium text-light-purple">2 orders this month</p>
    </div>
  </section>

  <h1 class="text-2xl text-dark-purple mb-3 font-semibold">Revenue</h1>
  <section class="flex flex-wrap gap-6 mb-6">
    <div
      class="flex grow flex-col bg-white gap-2 rounded-sm text-center w-44 py-3 box-shadow"
    >
      <p class="text-light-purple font-medium">TODAY</p>
      <p class="font-bold text-blue-700 text-3xl">$ 2</p>
      <p class="font-medium text-light-purple">2 orders today</p>
    </div>
    <div
      class="flex grow flex-col bg-white gap-2 rounded-sm text-center w-44 py-3 box-shadow"
    >
      <p class="text-light-purple text-md font-medium">THIS WEEK</p>
      <p class="font-bold text-blue-700 text-3xl">$ 2</p>
      <p class="font-medium text-light-purple">2 this week</p>
    </div>
    <div
      class="flex grow flex-col bg-white gap-2 rounded-sm text-center py-3 w-44 box-shadow"
    >
      <p class="text-dark-purple text-md font-medium">THIS MONTH</p>
      <p class="font-bold text-blue-700 text-3xl">$ 2</p>
      <p class="font-medium text-light-purple">2 this month</p>
    </div>
  </section>
</div>
